body {
  background-color: aquamarine;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#card-container {
  grid-column: auto;
  background-color: rgb(35, 25, 230);
}

#card-linkscontainer {
  background-color: crimson;
}
