* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(81, 51, 158);
  min-height: 100vh;
  overflow-x: hidden;
}
header {
  background-color: aquamarine;
}

.wrapper2 {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  background-color: aqua;
}
.wrapper {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  background-color: aqua;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding-top: auto;
}

#card-container {
  display: grid;
  background-color: rgb(119, 119, 236);
  width: min-content;
  height: min-content;
}

#card-linkscontainer {
  display: grid;
  background-color: crimson;
  width: min-content;
  height: min-content;
}
